* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

body {
    background-color: #eee;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: #121214;        
}

body::-webkit-scrollbar-thumb {
    background-color: #00EC00;
    border-radius: 50px;
}

header {
    top: 0;
    right: 0;
    width: 75vw;
    height: 7vh;
    padding: .7% 0 0;
    position: fixed;
    background: #111;
    transition: .4s ease;
    border-bottom: 1px solid rgba(0, 236, 0, .3);
    z-index: 1;
}

a {
    text-decoration: none;
}

img {
    margin: 1rem 0;
    width: 100%;
}

h3 {
    margin: 3rem 0 0;
}

.logo {
    color: #333;
    font-size: 2vw;
    font-weight: bold;
    letter-spacing: 2px;
    transition: .3s ease;
    z-index: 1;
}

.logo .ponto {
    text-shadow: 0 0 3px #00EC00CC, 0 0 6px #00EC00;
    color: #00EC00;
}

.logo:hover b {
    color: #00EC00;
}

.data-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 1;
}

/* Menu lateral */

.menu-lateral {
    position: fixed;
    width: 24.3vw;
    height: 100vh;
    padding: 5vh 3vw;
    background: #111;
    overflow-y: scroll;
    z-index: 1;
}

.menu-lateral::-webkit-scrollbar {
    width: 2px;
}

.menu-lateral::-webkit-scrollbar-track {
    background: #121214;        
}

.menu-lateral::-webkit-scrollbar-thumb {
    background-color: rgba(0, 236, 0, .5);
    border-radius: 50px;
}

.lista-lateral {
    list-style: none;
}

.lista-lateral li {
    padding: .8rem;
    margin: .4rem 0;
    border-radius: 8px;
    background-color: #222;
    transition: .2s ease;
}

li b {
    position: absolute;
    right: 3.5vw;
    color: #00EC00;
}

.link-interno {
    color: #fff;
    text-decoration-skip: 5px;
}

.active {
    color: #00EC00;
}

/* Conteudo principal */

.conteudo-principal {
    color: white;
    position: absolute;
    right: 0;
    width: 75vw;
    min-height: 100vh;
    padding: 4vh 3vw;
    background: #222;
    border-left: 1px solid rgba(0, 236, 0, .3);
}

.titulo {
    margin-top: 2rem;
    padding-bottom: .5rem;
    border-bottom: 2px solid rgb(0, 236, 0, .3);
    padding-top: 2vh;
}

.paragrafo {
    margin: 1rem 0 .5rem;
    text-indent: 1rem;
    text-align: justify;
}

.lista {
    margin: 0 0 0 3rem;
}

/* Footer */

footer {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    width: 100%;
    background-color: #111;
    color: #888;
    position: relative;
    bottom: -4vh;
    font-size: .8rem;
    z-index: 1;
}